<div class="app-viewport bckgd-cover">
    <div class="container body-content">
        <div class="panel panel-default"> 
            <!--<table ng-table="tableParams" class="table" show-filter="false">
                <tr ng-repeat="user in $data">
                    <td title="'FirstName'" filter="{ FirstName: 'text'}" sortable="'FirstName'">
                        {{user.firstName}}</td>
                    <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
                        {{user.age}}</td>
                </tr>
            </table>-->

            <div class="row" ng-repeat="user in data">
                <div class="col-md-4">{{user.status}}</div>
                <div class="col-md-4">
                    <b>Name : </b>{{user.firstName + ' ' +   user.lastName}}
                    <br>
                    <b>Source : </b>{{user.source}}
                    <br>
                    <b>Category : </b>{{user.sourceCategory}}
                    <br>
                    <a  tabindex="0" class="moreDtls" role="button" 
                    data-toggle="popover" data-trigger="focus" 
                    title="Details                          " 
                    data-content="<div style='width:300px'>
                        <table>
                            <tr>
                            <td> Address:</td> <td> {{user.address}} </td>
                            </tr>
                             <tr>
                            <td> Missed Payment Count:</td> <td> {{user.numOfPaymentsMissed}} </td>
                            </tr>
                            <tr>
                            <td> Average Monthly Bill:</td> <td> {{user.avgMonthlyBill}} </td>
                            </tr>
                            <tr>
                            <td> Comments:</td> <td> {{user.comments}} </td>
                            </tr></table>
                        </div>">
                    
                    



                    
                    
                    Mode Data Points</a>
                    
                </div>
                







                <div class="col-md-4">
                    <a href="mailto:{{user.email}}" class="btn btn-primary">Email</a>
                    <p></p>
                    <a href="tel:{{user.phoneNumber}}" class="btn btn-primary">Call</a>
                </div>
            </div>

       </div> 
    </div>
</div>