<div class="app-viewport landing">
      <main id="ui_view">
			<header class="page-header full-screen screen-centered">
			     <h2 class="page-header-subtitle logo-home" style="opacity: 1;"><img src="/images/logo-lrg.png" /></h2>
				<h1 class="page-header-title" style="opacity: 1;">Detect. Predict. Prevent.</h1>
				
				<div class="page-header-action"> 
					<span class="inner" style="opacity: 1;"> 
						<a href="/#/login"><span class="action-label action-explore">LOGIN</span> </a>
					</span>
					<span class="inner" style="opacity: 1;margin-left:10px"> 
						<a href="explore.html"><span class="action-label action-explore">SIGNUP</span> </a>
					</span>
				</div>
				<div class="page-header-bckgd bckgd-cover"></div>
				<div class="page-header-bckgd" style="transform: translate3d(0px, 0px, 0px);">
					<video class="bckgd-video" src="91020069.mp4" 
						autoplay="true" loop="true" preload="auto" sound="off"></video>
				</div>				
			</header>
		</main>
    </div><!-- /.container -->
