.main{
    background: #ededed ;
    height: 100%;
    position: relative;
    color:#555
}


td.side-menu {
    background: #1f1a50;
    font-family: Montserrat;
    min-width: 225px;
    text-transform: uppercase;
    width: 225px;
    vertical-align: top;
}
td.datacontent{
    height: 1000px;
    vertical-align:top;
    padding:10px;
    
}
.logo-box {
    background: #ED297D;
    color: #fff;
    font-size: 2.1em;
    font-weight: bold;
    height: 115px;
    line-height: 1em;
    padding-top: 20px;
    text-align: center;
    height: 72px;
    text-shadow: 1px 2px 2px #f90042;
    width: 100%;
}
.datacontent h2{color:#000;text-shadow: 0 0 0;font-family:oswald;margin-top: 5px;text-transform: inherit; font-size: 2em;}

.users {
    background: #1b2a3d none repeat scroll 0 0;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.22) inset;
    color: #fff;
    margin-bottom: 25px;
    padding: 15px 10px;
}
.filter {
    background: #fff none repeat scroll 0 0;
    box-shadow: -1px 2px 3px -2px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    padding: 2px 0 8px;
    text-align: center;
}

.icn{background:url("../images/icons/1445381530_globe.png") no-repeat;height:55px;padding-left:27px;display:inline-block;font-size:14px;background-position:left 2px;background-repeat:none;color:#bebebe;padding-top:3px;}
.insight{background-image:url("../images/icons/insight.png") }
.overview{background-image:url("../images/icons/globe.png") }
.models{background-image:url("../images/icons/models.png")}
.data{background-image:url("../images/icons/clock.png")}
.message{background-image:url("../images/icons/messages.png")}
.settings{background-image:url("../images/icons/settings.png")}
.logout{background-image:url("../images/icons/logout.png")}
#accordian{padding-top:20px}
#accordian ul{padding-left:15px;}
#accordian li{padding:5px 5px 0;cursor:pointer}
.filter{background: #fff none repeat scroll 0 0;
    box-shadow: -1px 2px 3px -2px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    padding: 2px 0 8px;
    text-align: center;}
td.content{width:85%;}
.icn:hover{color:#fff;}

td.datacontent .panel-default{
    width:100%;
    min-width: 100%;
    max-width: 100%;
    padding:20px 0;
}
.status{color:#fff;border-radius: 3px;padding:2px 1px 2px 5px;text-align: center;font-size:0.65em;margin-left:10px}
.PENDING{background:#D37E99}
.PROCESSED{background:#3BCE8A}
.NEW{background: #97BBCD}
.listrow{border-bottom: solid 10px #efefef;line-height: 2.5em;font-family: montserrat;}
.main .row{

     margin: 10px 0 ;
}
.skip{color: #f21566;
    cursor: pointer;
    float: right;
    font-size: 1.4em;
    padding: 0 5px;
    position: relative;
    right: -9px;
    top: -2px;}
.popover{max-width: 500px;}
.popover table{width:93%;}
.popover td{padding: 10px;font-family: montserrat;}
.popover td.label{font-weight: bold;color:#000;vertical-align: center}
tr:nth-child(even) {
    background-color: #efefef;
}
.datacontent .btn{border-radius: 3px;}
.setting div{font-family: montserrat;}
.small {
    font-size: 81%;
    position: relative;
    top: -10px;
}
.smr {cursor: pointer;background: transparent}
.smr:hover{background: #FFE789;}
.history-user{background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    top: 10px;}
.panel-body > table{width:100%;}
.panel-body td{line-height: 2.3em;text-transform: uppercase}
.panel-body td.label{font-weight: bold;}
.gray{background:#E2DEDE;color:#999}
#div-overview .panel, #div-history .panel, #div-insight .panel{box-shadow:0 0 0}
th{background:#3C8BD1;color:#fff}
th.sc{background:#4CC972;color:#fff;}