.splash{top:47%;position: relative;font-size:110%;text-align: center;padding-bottom: 10px;}
.splash h2{font-size:4em;color:#fff;font-weight:700i}

h1, h2, h3 {
    font-family: 'Baloo Chettan', cursive;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.185vmin;
}
.btn {
    border-radius: 20px;
    font-weight: normal;
    min-width: 100px;
    padding: 9px 20px;
}
.navbar-form .input-group > .form-control{width:100%}
.btn {font-family: baloo chettan;text-transform: uppercase;letter-spacing: 0.07em;height:39px;}

.nav a:hover {
   color: #fff;
   text-decoration: underline;
}
.profile a,.nav > li > a,.dropdown-menu > li > a,.nav-item a{font-size:1.26em}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #FFF;
    text-decoration: none;
    color:#000;
}
.nav-item a {
    display: block;
    font-family: baloo chettan;
    padding-bottom: calc(1.5375em + 2px);
    transition-duration: 300ms;
    transition-property: color, border;
    transition-timing-function: linear;
    color:#fff;
}
.nav-item a.dashboard{position: relative;left: 25px;top: 11px;}
.nav-main{background-color: transparent;box-shadow:0 0 0 0 rgba(0, 0, 0, 0.5)}
.submenu li{border-bottom: solid 0;z-index: 100000;}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-family: baloo chettan;
    text-transform: uppercase;}
.ui-autocomplete-loading {
            background: white url("https://s3.amazonaws.com/kudosassets-ag/images/loading.png") right center no-repeat;
        }


.main{
    background: #fff;
    height: 100%;
}


td.side-menu {
    background: #404f63 none repeat scroll 0 0;
    font-family: Montserrat;
    min-width: 225px;
    text-transform: uppercase;
    width: 225px;
}
.logo-box {
    background: #f1495b none repeat scroll 0 0;
    color: #fff;
    font-family: oswald;
    font-size: 2.5em;
    font-weight: bold;
    height: 115px;
    line-height: 1em;
    padding-top: 20px;
    text-align: center;
    text-shadow: 3px 2px 2px #db3d4d;
    width: 100%;
}
.users {
    background: #1b2a3d none repeat scroll 0 0;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.22) inset;
    color: #fff;
    margin-bottom: 25px;
    padding: 15px 10px;
}
.filter {
    background: #fff none repeat scroll 0 0;
    box-shadow: -1px 2px 3px -2px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    padding: 2px 0 8px;
    text-align: center;
}
.panel-body h3{color:#000;font-size:100%}

