@import url(https://fonts.googleapis.com/css?family=Open+Sans|Lato:900|Raleway|Noto+Sans:400,700,700i|Montserrat|Baloo+Chettan|Oswald|Chathura);

body {
    line-height: 1;
	font-family: 'Noto Sans','Raleway', sans-serif;
}
body,
html {
    font-size: 100%;
    color: #fff;
}
body{
    background: url("/images/1_12459375745_765fe7e151_k.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: 50% 79%;
    height: 100%;
}

.navbar-brand img{position:relative;top:-5px;}
.page-header{border-bottom:0}
.navbar-inverse .navbar-nav > li > a{color:#ccc;}

@media (max-width: 1000px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

.navbar-toggle{margin-right:22px;}
.nav-items {
    font-size: 1.05em;
}

.nav-home {
    left: 4.5vmin;
    margin-top: -0.546667em;
    position: absolute;
    top: 1.5375em;
}

.nav-main {
    z-index: 9;
}
.nav-main {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: -webkit-transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    background-color: #fff;
    box-shadow: 2px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.nav-items {
    height: 100%;
    letter-spacing: .1025em;
    text-align: center
}


.nav-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: 0 1em;
    opacity: 1;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition-duration: 800ms;
    transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.515, .005, .515, 1);
    vertical-align: top;
}

.nav-item a {
    display: block;
    padding-bottom: calc(1.5375em + 2px);
    transition-duration: 300ms;
    transition-property: color, border;
    transition-timing-function: linear;
    font-family: raleway;
    font-size: 0.8125em /*13px;*/
}

.nav-item a:hover, .nav-item a.selected {
    color: #ffc719;
    text-decoration: none
}

.h1, .h2, .h3, h1, h2, h3,.nav-item  {
    text-transform: uppercase;
	font-family: "Raleway","Lato","Open Sans",sans-serif;
}


.page-header-title {
    font-size: 9.25vmin;
    letter-spacing: .185vmin
}

.page-content-title {
    font-size: 8.75vmin;
    letter-spacing: .185vmin;
    line-height: .99
}

.action-enquire,
.page-header-action {
    font-size: 3.2vmin;
    letter-spacing: .1666666667vmin;
	margin-top:81px;
}

.page-header-subtitle {
    font-size:2.0em;
}

.app-viewport {
    color: #fff;
    position: relative;
	height:90vh;
}

main {
    overflow-x: hidden;
    overflow-y: scroll
}

.nav a {
    color: #222;
    display: inline-block;
    text-decoration: none
}

.nav a:hover {
    color: #666;
    text-decoration: underline
}

.nav a.active {
    color: #000
}

.nav a.active:hover {
    text-decoration: none
}

.nav-item {
    display: inline-block
}

.nav-home {
    left: 4.5vmin;
    margin-top: -.5466666667em;
    position: absolute;
    top: 1.5375em
}

.nav-sub-items {
    display: none;
    position: absolute;
    width: 200%
}


.action-label {
    cursor: pointer;
    display: inline-block;
    padding: 2.2vmin 3.75vmin;
    border: 2px solid rgba(255, 255, 255, .7);
    color: #fff;
	text-transform: uppercase;
    
}

.action-label:hover{color: #ffc719;border:2px solid #ffc719}

.page-header {
    position: relative;
    text-align: center;
	margin:0px;
}

.page-header>* {
    position: relative
}

.page-header .page-header-bckgd {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0
}

.nav-main,
.privacy-msg {
    z-index: 9
}

.page-header>* {
    z-index: 3
}

.page-header .page-header-bckgd {
    z-index: 0
}

.page-header .bckgd-cover {
    z-index: 2
}

.full-screen,
.page-header .page-header-bckgd .bckgd-image,
.slideImageDiv,
.slider,
.video-player,
.video-player-wrapper,
body,
html,
main {
    height: 100%;
    width: 100%
}
.bckgd-cover{color:#555}
.page-header .page-header-bckgd .bckgd-video,
.video-player video {
    min-height: 100%;
    min-width: 100%
}
.text-content h1{color:#ffc719;margin:50px 0 40px}
.text-content{margin-top:50px;line-height:1.5em;text-transform:normal;font-size:100%;}
.color1{background:#A98FB5}
.screen-centered{
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}
.navbar-toggle{background-color: #344a61;}

.user-profile img {
    border-radius: 50%;
    height: 29px;
    margin-right: 10px;
    width: 29px;
}

.search{top:5px;}
.navbar-toggle .icon-bar{background-color: #fff;}

.bg-red {
    background: #e74c3c none repeat scroll 0 0 !important;
    border: 1px solid #e74c3c !important;
    color: #fff;
}
.pull-right {
    float: right;
}
.pull-right {
    float: right !important;
}
.badge {
    background-color: #777;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.bckgd-cover{top:75px;position: relative;}
.content{padding-top:20px}
.col-md-12{background: #fff;padding:10px 0;border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25)}
.media .profile_thumb {
    border: 1px solid;
    border-radius: 50%;
    height: 50px;
    margin: 5px 10px 5px 0;
    padding: 9px 12px;
    width: 50px;
}
.border-green {
    border-color: #1abb9c !important;
}
.pull-left {
    float: left;
}
.pull-left {
    float: left !important;
}
.media .profile_thumb i {
    font-size: 1.875em /*30px;*/
}
.green {
    color: #1abb9c;
}

ul.top_profiles li:nth-child(2n+1) {
    background-color: #eee;
}
.trending{color:#333}

.btn-success {
    background: #26b99a none repeat scroll 0 0;
    border: 1px solid #169f85;
}
.btn {
    border-radius: 3px;
}
button, .buttons, .btn, .modal-footer .btn + .btn {
    margin-bottom: 5px;
    margin-right: 5px;
}
.give-kudos {
    padding-top: 10px;
    width: 100%;
}
#give_kudos {
    display: inline;
    width: 85%;
    margin-left: 14px;
}
img.user-profile {
border-radius: 50%;
    height: 50px;
    position: relative;
    top: 13px;
    width: 50px;
}
.give-kudos ul,.trending ul{margin-left:-40px}
.give-kudos li{border-bottom:solid 1px #ccc;
}
.kudos-image{
background-repeat: no-repeat;
background-position: right 15px;
background-size: 70px 70px;
    height: 100px;
    width:100px;
    opacity: 0.3;
}
.stream h4{color:#D14233}
.give-kudos h4{display: inline}
.stream p.time{font-size:10px;color:#888;padding-top:5px;padding-left:3px;}
.stream{padding-left:15px;font-size:1.125em /*18px*/;}
.media-body{padding-left: 15px;padding-top:10px}
.btn-kudos{font-size:0.75em /*12px*/;border-radius:5px;color:#fff;padding:5px;position: relative;top:25px;}
.nav-tabs{padding-left:15px;}
.trending, .profile {padding-left:10px;}
.trending, .profile , .user-profile{font-size: 0.875em /*14px*/}
.trending .media{margin-top:5px}
.profile div{text-align: center;}
.profile a{font-size: 1.125em /* 18px;*/padding:5px 20px}

.top_tiles {
    margin-bottom: 0;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom:50px;
}

.col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.tile-stats {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    display: block;
    margin-bottom: 12px;
    overflow: hidden;
    padding-bottom: 5px;
    position: relative;
    transition: all 300ms ease-in-out 0s;
}
.tile-stats .icon {
    color: #A5B9CE;
    height: 20px;
    position: absolute;
    right: 53px;
    top: 22px;
    width: 20px;
    z-index: 1;
}
.tile-stats .icon i {
    font-size: 60px;
    line-height: 0;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}
.tile-stats .count, .tile-stats h3, .tile-stats p {
    margin: 0 0 0 10px;
    padding: 0;
    position: relative;
    z-index: 5;
}
.tile-stats .count {
    font-size: 3.8em;
    font-weight: bold;
    line-height: 1.65857;
    color:#333;
    font-family: Montserrat;
}
.tile-stats h3,.tile-stats p {
    color: #9B9B9B;
}
.tile-stats .count, .tile-stats h3, .tile-stats p {
    margin: 0 0 0 10px;
    padding: 0;
    position: relative;
    z-index: 5;
}
.tile-stats p {
    font-size: 0.75em /*12px;*/
    margin-top: 5px;
    color: #bab8b8;
}
.tile-stats .count, .tile-stats h3, .tile-stats p {
    margin: 0 0 0 10px;
    padding: 0;
    position: relative;
    z-index: 5;
}

.top-metrics{margin-top:30px}
.new-kudos{background: #efefef;padding:15px;margin-bottom:15px;}
.new-kudos .input-group{width:100%;}
.submenu li{border-bottom: solid 1px #efefef;}
.tile-stats div.kudos {color: #26b99a;}
.tile-stats div.down-trend{color:#C46244}
.nav-tabs > li.active h4{color:#344A61  }
blockquote1 {
	margin: 1em 20px;
	padding-left: 50px;
	background: transparent url(/images/sp_QuotePost.png) no-repeat; }

blockquote {
    border-left: 5px solid #ccc;
    padding: 5px 10px 10px;
   
}
p.comment {
    color: #888;
    font-family: raleway;
    font-size: 0.875em /*14px*/;
    font-weight: normal;
    line-height: 1.5;
}
.trending img.user-profile{top:0}
.trending img.badges{width:20px;height:20px}
#dashboard{display: block}

.nav a:hover {
   color: #fff;
   text-decoration: underline;
}
.profile a,.nav > li > a,.dropdown-menu > li > a,.nav-item a{font-size:0.9375em /*15px*/}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #efefef;
    text-decoration: none;
    color:#000;
}
.nav-item a {
    display: block;
    font-family: baloo chettan;
    padding-bottom: calc(1.5375em + 2px);
    transition-duration: 300ms;
    transition-property: color, border;
    transition-timing-function: linear;
    color:#333;
}
.chartjs{width:90%}
.chartjs p{font-family: baloo chettan;text-transform: uppercase;font-size: 2em;padding:20px 0;text-align: center}
.dropdown-menu>li>a{cursor:pointer}
#navbar{overflow: hidden;}
.navbar-nav .open .dropdown-menu{background: #fff}
.navbar {
    margin-bottom: 0;
}
footer{position: relative;top: -13px;}
footer, footer a{color:#fff;text-align: center; clear: both;}
foote{position: relative;
    text-align: center;
    top: -13px;} a{text-decoration: underline}
.navbar-header img{position:relative;top:10px}

/* NEW */
.landing{color:#000}
.page-header-action a{font-weight: bold;}
#ui_view{position: relative;top:-90px}
.action-label:hover {
    border: 3px solid #ffc719;
    color: #ffc719;
}
.action-label {
    border: 3px solid rgba(0, 0, 0, 0.8);
    color: #333;
    border-radius: 5px; color: #222;
    font-family: Lato;   }

.action-label:hover {
    border: 3px solid #C61111;
    color: #C61111;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}



