/*
body,.main{
    background: #fff;
    height: 100%;
}


td.side-menu {
    background: #404f63 none repeat scroll 0 0;
    font-family: Montserrat;
    min-width: 225px;
    text-transform: uppercase;
    width: 225px;
}
.logo-box {
    background: #f1495b none repeat scroll 0 0;
    color: #fff;
    font-family: oswald;
    font-size: 2.5em;
    font-weight: bold;
    height: 115px;
    line-height: 1em;
    padding-top: 20px;
    text-align: center;
    text-shadow: 3px 2px 2px #db3d4d;
    width: 100%;
}
.users {
    background: #1b2a3d none repeat scroll 0 0;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.22) inset;
    color: #fff;
    margin-bottom: 25px;
    padding: 15px 10px;
}
.filter {
    background: #fff none repeat scroll 0 0;
    box-shadow: -1px 2px 3px -2px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    padding: 2px 0 8px;
    text-align: center;
}
.datacontent h1{color:#000;text-shadow: 0 0 0;}
.datacontent.h1, .datacontent.h2, .datacontent.h3{margin-top: 5px;font-family:raleway;}

*/