<link href="home.css" rel="stylesheet">
<table cellspacing="0" cellpadding="0" class="main">
    <tbody>
        <tr>
            <td class="side-menu">
                <div class="logo-box">St. Patrick</div>
                <div id="accordian">
                    <ul>
                        <li class="li-overview" id="li-overview" ng-click="listHistory('NEW')">
                            <span class="icn overview">Intake</span>
                        </li>
                        <li id="li-history" ng-click="listHistory('PROCESSED')">
                            <span class="icn data">History</span>
                        </li>
                        <li id="li-insight">
                            <span class="icn insight">Insight</span>
                        </li>
                        <li id="li-settings">
                            <span class="icn settings">Settings</span>
                        </li>
                        <li id="li-logout">
                            <span class="icn logout">Log out</span>
                        </li>
                    </ul>
                </div>
            </td>
            <td align="left" class="content datacontent">

                <div id="div-overview" style="display:block">
                    <h2>Intake</h2>
                    <div class="panel panel-default">
                        <div class="row listrow" ng-repeat="user in data">
                            <div class="skip glyphicon glyphicon-remove-circle">&nbsp;</div>
                            <div class="col-md-1 status {{user.status}}">{{user.status}}</div>
                            <div class="col-md-2">
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="user.score" chart-colors="user.colors" chart-labels="user.scorelabel">
                                </canvas>
                            </div>
                            <div class="col-md-5">
                                <b>Name : </b>{{user.firstName + ' ' + user.lastName}}
                                <br>
                                <b>Source : </b>{{user.source}}
                                <b>When: </b>{{user.updateTs | date:'d MMMM yyyy' : 'UTC'}}
                                <br>
                                <b>Comments: </b>{{user.comments}}
                                <br/>
                                <a tabindex="0" class="moreDtls" role="button" data-toggle="popover" data-trigger="focus" title="Details                          " data-content="<div style='width:500px'>
                        <table>
                            <tr>
                            <td class='label1'> Address:</td> <td> {{user.address}} </td>
                            </tr>
                             <tr>
                            <td class='label1'> Missed Payment Count:</td> <td> {{user.numOfPaymentsMissed}} </td>
                            </tr>
                            <tr>
                            <td class='label1'> Average Monthly Bill:</td> <td> {{user.avgMonthlyBill}} </td>
                            </tr>
                            <tr>
                            <td class='label1'> Category:</td> <td> {{user.sourceCategory}} </td>
                          
                            </tr></table>
                        </div>">
                    More details</a>
                            </div>
                            <div class="col-md-3">
                                <a ng-click="sendEmail(user.id)" class="btn btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
                                <a href="tel:{{user.phoneNumber}}" class="btn gray"><i class="fa fa-phone-square" aria-hidden="true"></i> Call</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="div-history" style="display:none">
                    <h2>&nbsp;&nbsp;History</h2>
                    <div class="col-lg-12">
                        <div class="col-lg-3 history-user">
                            <div class="row listrow smr" ng-repeat="user in data">
                                <div ng-click="showDetail(user.id)">
                                    <div style="float:left;">
                                        {{user.firstName + ' ' + user.lastName}}
                                        <div class="small"><b>via </b>{{user.source}}
                                            <b>on </b>{{user.updateTs | date:'d MMM yyyy' : 'UTC'}}
                                        </div>
                                    </div>
                                    <div style="float:right;">
                                        <span class="glyphicon glyphicon-chevron-right">&nbsp;</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-default">
                                        <ul class="nav nav-tabs">
                                            <li ng-class="{active:isSet(1)}"><a href ng-click="setTab(1)">Homeless Profile</a></li>
                                            <li ng-class="{active:isSet(2)}"><a href ng-click="setTab(2)">Form Submission</a></li>
                                        </ul>
                                        <div class="panel-body" ng-show="isSet(1)">
                                            <canvas id="radar" class="chart chart-radar" chart-data="radarData.data" chart-labels="radarData.labels" chart-options="radarData.options" chart-colors="radarData.colors">
                                            </canvas>
                                            <div class="model-data">
                                                <table class="table">
                                                    <th>PROFILE</th>
                                                    <th>AFFINITY</th>
                                                    <tr ng-repeat="data in radarData.dataMap track by $index">
                                                        <td>{{data.label}}</td>
                                                        <td>{{data.score + '%'}} </td>
                                                    </tr>

                                                </table>
                                            </div>


                                            <div class="model-data">
                                                <table class="table">
                                                    <th class="sc">RECOMMENDED SERVICE CENTER</th>

                                                    <tr ng-repeat="data in service">
                                                        <td>{{data.services}}</td>
                                                        <td> <a href="#" >Send Case</a> </td>
                                                    </tr>

                                                </table>
                                            </div>


                                        </div>
                                        <div class="panel-body" ng-show="isSet(2)">
                                            <h3>USER FORM SUBMISSION DATA</h3>
                                            <table>
                                                <tr>
                                                    <td class="label1">First Name</td>
                                                    <td>{{userData.firstName}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label1">Last Name</td>
                                                    <td>{{userData.lastName}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label1">Gender</td>
                                                    <td>{{userData.gender}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label1">Marital Status</td>
                                                    <td>{{userData.maritalStatus}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label1">Address</td>
                                                    <td>{{userData.address}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label1">State</td>
                                                    <td>{{userData.state}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label1">Family Size</td>
                                                    <td>{{userData.familySize}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label1">Phone Number</td>
                                                    <td>{{userData.phoneNumber}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label1">Source</td>
                                                    <td>{{userData.source}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label1"># of Payment Missed</td>
                                                    <td>{{userData.numOfPaymentsMissed}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label1">Comments</td>
                                                    <td>{{userData.comments}}</td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="div-models" style="display:none">
                    <h2>Models</h2>
                </div>
                <div id="div-insight" style="display:none">
                    <h2>Insight</h2>
                    <div >
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-body" id="d3chart" style="padding-left:200px;"  >
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="div-settings" style="display:none">
                    <h2>Settings</h2>
                    <div class="dash setting">

                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>