<nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/#"><img width="270px" alt="Sunryse Logo" title="Sunryse Logo" src="/images/logo-lrg.png"></a>
            </div>
        </div>
    </nav>

    <div class="app-viewport bckgd-cover">
        <form role="form">
            
        <div class="container body-content login">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="heading">
                        <h1>Login</h1>
                        <div><span>or</span> <a href="/#" title="Sign up for a new account">Sign up</a></div>
                    </div>
                    <div class="form-group has-feedback">
                        <span class="icon email form-control-feedback"></span>
                        <input title="Enter User Name" ng-model="user.username" type="text" tabindex="1" placeholder="User name" name="email" id="input-username" class="form-control">
                        <label for="input-username" class="control-label"></label>
                        <!-- Error feedback -->
                    </div>

                    <div class="form-group has-feedback">
                        <span class="icon password form-control-feedback"></span>
                        <div class="hideShowPassword-wrapper" style="position: relative; display: block; vertical-align: baseline; margin: 0px;">
                            <input ng-model="user.password" type="password" tabindex="2" placeholder="Password" name="password" id="input-password" title="Enter Password" class="form-control input-password hideShowPassword-field" style="margin: 0px; padding-right: 51px;">
                        </div>
                        <label for="input-password" class="control-label"></label>
                        <!-- Error feedback -->
                    </div>

                    <div class="form-group">
                        <button tabindex="3" data-loading-text="Checking your credentials..." id="button-login" class="btn btn-success btn-lg btn-block" title="Click here to login" type="submit" ng-click="login()">
                            Login
                        </button>
                    </div>
                    <div class="text-center">
                        <a href="/#" title="Click here if you have forgotten your password">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>