<div style="background: #fff;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#"><img width="270px" alt="Sunryse Logo" title="Sunryse Logo" src="/images/logo-lrg.png"></a>
        </div>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-5 control-label">Name</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{user.firstName}}&nbsp;{{user.lastName}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Address</label>
            <div class="col-sm-6">
                <span class="form-control-static">{{user.address}}</span> &nbsp;&nbsp;
                <a href="">Edit</a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Family Type</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="tempUser.familyType" >
                    <option></option>
                    <option> Single Female </option>
                    <option> Single Male </option>
                    <option> Female w/ children </option>
                    <option> Male w/ children </option>
                    <option> Couple no children </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Are you having trouble paying your bills?</label>
            <div class="col-sm-6">
                <label class="checkbox-inline">
                    <input type="checkbox" value="option1" ng-model="tempUser.troubleWithBills" > Yes
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Do you have any medical problems?</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="tempUser.medicalProblem">
                    <option></option>
                    <option value="drugProblem"> Drug Problem </option>
                    <option value="alcoholProblem" > Alcohol Problem </option>
                    <option value="physicalHealth"> Physical Health </option>
                    <option value="mentalHealth"> Mental Health </option>
                    <option value="developmentalDisability" > Developmental Disability </option>
                    <option value="adhd"> ADHD </option>
                    <option value="none"> None </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Annual income range</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="tempUser.incomeRange" >
                    <option value="none"> No Income</option>
                    <option>< $10,000 </option>
                    <option>$10,000 - $20,000</option>
                    <option>$20,000 - $30,000</option>
                    <option>$30,000 - $40,000</option>
                    <option>$40,000 - $50,000</option>
                    <option> > $50,000 </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Are you pregnant</label>
            <div class="col-sm-6">
                <label class="checkbox-inline">
                    <input type="checkbox" value="option1" ng-model="tempUser.pregnant"> Yes
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Are you facing physical/mental abuse?</label>
            <div class="col-sm-6">
                <label class="checkbox-inline">
                    <input type="checkbox" value="option1" ng-model="tempUser.abuse"> Yes
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Are you a veteran?</label>
            <div class="col-sm-6">
                <label class="checkbox-inline">
                    <input type="checkbox" value="option1" ng-model="tempUser.veteran" > Yes
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Housing Status</label>
            <div class="col-sm-6">
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" ng-model="tempUser.housingStatus" id="inlineRadio1" value="own"> Own
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" ng-model="tempUser.housingStatus" id="inlineRadio2" value="rent"> Rent
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" ng-model="tempUser.housingStatus" id="inlineRadio3" value="homeless"> Homeless
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-6">
                <button ng-click="updateUser()" type="submit" class="btn btn-success btn-lg">Submit</button>
            </div>
        </div>
    </form>
</div>