        <div id="d3chart" >
            
        </div>

            <div class="row" >

                <div class="col-lg-6" > 
                    <div class="panel panel-default" >
                        <div class="panel-heading" >
                            <i class="fa fa-line-chart fa-fw" ></i>
                            
                            <div class="pull-right">
                                
                            </div>
                        </div>
                        <div class="panel-body">
                            <canvas id="radar" class="chart chart-radar"
                                chart-data="radarData.data" chart-labels="radarData.labels" chart-options="radarData.options"  >
                            </canvas>  
                        </div>
                    </div>
                </div>
            </div>            

            <div class="row" >

                <div class="col-lg-6" > 
                    <div class="panel panel-default" >
                        <div class="panel-body">
                            <canvas id="bubbleChart" class="chart chart-bubble"
                                chart-data="insightData.data"  chart-options="insightData.options"  >
                            </canvas>  
                        </div>
                    </div>
                </div>
            </div>            

                        